/*APPLY TO ALL PAGES*/

.html {

	font-family: 'Noto Sans JP', sans-serif;
	background-color: rgb(10,10,10);
}

.links > ul > li >.hoverlink {
	display: none;
	width: 100%;
}
.links > ul> li > a:hover + .hoverlink,.hoverlink:hover {
	display: block;
	position: relative;
	z-index: 100;
}
/**/