/* . = class, # = id, html class is as is*/
html {
	font-family: 'Noto Sans JP', sans-serif;
	background-image: linear-gradient(black, #4d4d4d);
	color: white;
}

.body {
	margin: auto;
	text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/*HEADER*/
#header {
	width: 50%;
	padding-bottom: 75px;
}
#header > h1 {
	font-size: 48px;
	text-shadow: 5px 5px blue;
	transition: text-shadow 1s ease-out;
	cursor: default;
}
#header > h1:hover {
	text-shadow: 0px 0px red;
}
#image_header > img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	cursor: pointer;
}

.popup_text {
	visibility: hidden;
	background-color: #444;
	color: white;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	left: 20%;
	right: 20%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popup_text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
}
#image_header > .show {
	visibility: visible;
	animation: fadeIn 1s;
	animation-timing-function: cubic-bezier(0.39, 0.11, 0.09, 0.92);
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*CONTENT*/
#content {
	width: 80%;
	padding: 0px 20px 0px 20px;
	border-left: 8px dashed white;
	cursor: default;
}
.content_post {
	border-left: 6px solid rgba(77,77,77,0.7);
	padding-left: 12px;
}
.content_text {
	text-align: left;
	text-decoration: none;
	justify-content: center;
}
.content_image {
	max-width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/*FOOTER*/
#anti_footer {
	font-family: "VT323";
	cursor: pointer;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
}
#footer {
	font-family: "VT323";
	cursor: pointer;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
}