/*APPLY TO ALL PAGES*/

html {

	font-family: 'Noto Sans JP', sans-serif;
	color: rgb(30,30,30);
	background-color: rgb(225,225,225);
}

.header > a {
	text-decoration: none;
	color: rgb(75,75,75);
	font-size: 24px;
}
.header > a:hover {
	color: rgb(0,0,0);
}

.links > ul {
	list-style: none;
}
.links > ul > li > a {
	color: rgb(50,50,50);
	text-decoration: none;
}
@keyframes color {
	from {
		color: rgb(50,50,50);
	}
	to {
		color: rgb(0,0,0);
	}
}
.links > ul > li > a:hover {
	color: rgb(0,255,0);
	animation-name: color;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

/**/