/* . = class, # = id, html class is as is*/
html {
	font-family: 'Noto Sans JP', sans-serif;
	background-image: linear-gradient(black, #4d4d4d);
	color: white;
}

.body {
	margin: auto;
	text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/*HEADER*/
#header {
	width: 50%;
	padding-bottom: 75px;
}
#header > h1 {
	font-size: 48px;
	text-shadow: 5px 5px blue;
	transition: text-shadow 1s ease-out;
	cursor: default;
}
#header > h1:hover {
	text-shadow: 0px 0px red;
}
#image_header > a > img {
	max-width: 100%;
	height: auto;
	border-radius: 10%
}


/*CONTENT*/
#content {
	width: 80%;
	padding: 0px 20px 0px 20px;
	border-left: 8px dashed white;
	cursor: default;
}
.content_post {
	border-left: 6px solid rgba(77,77,77,0.7);
	padding-left: 12px;
}
.content_text {
	text-align: left;
	text-decoration: none;
}
.content_image {
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/*FOOTER*/
#anti_footer {
	font-family: "VT323";
	cursor: pointer;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
}
#footer {
	font-family: "VT323";
	cursor: pointer;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
}