/*APPLY TO ALL PAGES*/

html {

	font-family: 'Noto Sans JP', sans-serif;
	color: rgb(30,30,30);
	background-color: rgb(225,225,225);
}

.links > ul {
	list-style: none;
}
.links > ul > li > a {
	color: black;
	text-decoration: none;
}
.links > ul > li >.hoverlink {
	display: none;
	width: 100%;
}
.links > ul > li > a:hover + .hoverlink,.hoverlink:hover {
	display: block;
	position: relative;
	z-index: 100;
}

/**/