/*
COLORS

black: ;
gray: ;
white: ;
blue: ;
light blue:;
red: ;
light red: ;
orange: ;
yellow: ;
light green: ;
green: ;
purple: ;
pink: ;

*/

html {
	font-family: 'Noto Sans JP', sans-serif;
}

.master_page {

}
.master_page ul li {
	text-decoration: none;
	font-size: 24px;
}
.master_page ul li:hover {

}